<h1>All Vehicles</h1>

<div>
  <h3>Filter Vehicles</h3>
  <%= form_tag('/vehicles', method: 'get') do %>
    <%= select_tag 'owner', options_from_collection_for_select(@owners, 'id', 'name'), include_blank: true %>
    <%= submit_tag 'Filter'%>
  <% end %>
</div>

<ul>
  <% @vehicles.each do |vehicle| %>
    <li>
      <%= link_to vehicle.name, vehicle_path(vehicle) %>
    </li>
  <% end %>
</ul>